/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
}

header {
  background: #eee;
}


  /*---------------------
/* ---dont know what this does*/
  /* Nav Bar Styling All Pages  */
  .navbar.navbar-expand-lg{
    margin-right:25px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.navbar-brand{
  background-color:teal;
  padding:10px;
}

/* ---dont know what this does*/


.navbar-brand a:hover{
  color:#f7f9fb;
}



/* 
.nav-item a:hover{
  background: #687868;
  color:#f7f9fb;
}

/* 
.dropdown-item {
  color:#31708E;
}
.dropdown-menu a:hover{
 background: #687864;
 color:#f7f9fb;
}

.navbar-toggler{
  background:#687864;
  border-color:#f7f9fb
}

.navbar-toggler-icon {
  stroke:#f7f9fb stroke-width='2' stroke-linecap='round' stroke-miterlimit='10';
} */



/* -----------------------



/* h1 {
  padding: 20px 20px 20px 20px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  color: #eee;
  background: teal;
  text-align: left;
} */

 /* h2 {
  font-size: 30px;
  padding: 20px 20px 20px 20px;
  text-align: left;
  color: teal;
}  */

/* a {
  color: black;
  margin: 20px;
  background-color: white;
  
} */

/* Selecting elements by class */
.container {
  width: 1024px;
  margin: 0 auto;
  background: white
}


/* #figure {
  float: center;
  
} */

/* .words {
  padding: 20px, 20px, 20px, 20px;
  margin: 20px, 20px, 20px, 20px;

} */
